version: "3.9"

services:
  web:
    build: .
    container_name: maxcampus_web
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./db.sqlite3:/app/db.sqlite3
    restart: unless-stopped
