{% extends 'main/index.html' %}
{% load news_extras %}
{% load humanize %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/nl_paginator.css' %}">
    <link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock %}

{% block content %}
    <section class="notifications">
        <h2 class="section-title">Уведомления</h2>

        <div class="notifications-list">
            {% if page_obj.object_list %}
                {% for n in page_obj.object_list %}
                    <a href="{{ n.get_absolute_url }}" class="link-reset">
                        <article class="notification-item">
                            <div class="notification-icon">{{ n.news_icon }}</div>
                            <div class="notification-content">
                                <p class="notification-text">{{ n.title }}</p>
                                <span class="notification-time"> {{ n.published_at|naturaltime }}
                                    {% if n.group %} · для группы {{ n.group.name }}{% endif %}
                            </span>
                            </div>
                        </article>
                    </a>
                {% endfor %}
            {% else %}
                <div class="empty-block">
                    <p>Пока нет новостей.</p>
                </div>
            {% endif %}
        </div>

        {% include 'main/menu/paginator.html' %}
    </section>
{% endblock %}
