{% load static %}

<nav class="bottom-nav">
    <button class="nav-item active" data-page="main">
        <span class="nav-icon">🏠</span>
        <span class="nav-text">Главная</span>
    </button>
    <button class="nav-item" data-page="news">
        <span class="nav-icon">🌐</span>
        <span class="nav-text">Новости</span>
    </button>
    <a href="{% url 'profile_view' %}" class="link-reset" data-page="profile">
        <button class="nav-item" data-page="profile">
            <span class="nav-icon">👤</span>
            <span class="nav-text">Профиль</span>
        </button>
    </a>
    <button class="nav-item" data-page="help">
        <span class="nav-icon">❓</span>
        <span class="nav-text">Помощь</span>
    </button>
</nav>