{% extends 'main/index.html' %}
{% load weekdays %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/student_schedule.css' %}">
{% endblock %}

{% block content %}
    <section class="schedule-section">
        <h2 class="section-title">📅 Расписание группы {{ group.name }}</h2>

        {% for weekday, slots in week.items %}
            <div class="schedule-day">
                <h3 class="day-title">{{ weekday|weekday_name }}</h3>

                {% if slots %}
                    {% for s in slots %}
                        {% with slot=s.slot %}
                            <div class="schedule-card">
                                <div class="schedule-time">{{ slot.start_time | date:"H:i" }}–{{ slot.end_time | date:"H:i"}}</div>
                                <div class="schedule-subject">{{ slot.teaching.curriculum.discipline.title }}</div>
                                <div class="schedule-meta">
                                    {{ slot.building }} {{ slot.room }}
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    <div class="schedule-empty">Нет занятий</div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
